.detailsBg{
 background-color:#97A6B2; 

} 
.raviImgwidth{
     width: 550px;
     height: 550px;
     border-radius: 10px;
}
.heading-2-1{
     color: black;
}
.border{
     color: black;
     box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}